<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body>
    <%- include('nav.inc.ejs') %>

    <div id="home-template-container" class="container"></div>

    <script id="home-template" type="text/ractive">
      <form class="filter-form form-inline">
        <div class="form-group">
          <label for="filter-state"><%= __('filterByState') %></label>

          <select class="form-control" value="{{ filteredState }}" id="filter-state">
            <option value="" selected><%= __('all') %></option>
            {{#states:s}}
              <option value="{{ this }}">{{ this }}</option>
            {{/states}}
          </select>
        </div>

        <div class="form-group">
          <label for="filter-source"><%= __('filterBySource') %></label>

          <select class="form-control" value="{{ filteredSource }}" id="filter-source">
            <option value="" selected><%= __('all') %></option>
            {{#sources:s}}
              <option value="{{ id }}">{{ name }}</option>
            {{/sources}}
          </select>
        </div>

        <div class="data-info">
          <p>
            {{#lastFetch}}
              <small class="text-muted"><%= __('dataAsOf') %> {{ lastFetch.fromNow() }}.</small>
            {{/lastFetch}}
            <span class="loading {{#isLoading}}is-loading{{/isLoading}}"><i class="fa fa-spinner fa-pulse"></i></span>
          </p>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-striped report-list">
          <thead>
            <tr>
              <th><%= __('report') %></th>
              <th><%= __('wait') %></th>
              <th><%= __('location') %></th>
              <th><%= __('phone') %></th>
              <th><%= __('updated') %></th>
              {{^filteredSource}}
                <th><%= __('source') %></th>
              {{/filteredSource}}
              <th><%= __('inCheck') %></th>
            </tr>
          </thead>

          <tbody>
            {{#data}}
              {{#((!filteredState && !filteredSource) || (filteredState && filteredState === state) || (filteredSource && filteredSource === sourceID))}}
                <tr>
                  <td class="report-data">{{ report }}</td>
                  <td class="wait-data">{{ wait }}</td>
                  <td>
                    {{ city }}, {{ state }} {{ zip }}<br>
                    {{#(zip && !(lat && lon))}}
                      <a target="_blank" rel="noopener" href="https://maps.google.com/maps?q={{ city }}, {{ state }} {{ zip }}"><%= __('map') %></a>
                    {{/()}}
                    {{#(lat && lon)}}
                      <a target="_blank" rel="noopener" href="https://maps.google.com/maps?q={{ lat }},{{ lon }}"><%= __('map') %></a>
                    {{/()}}
                  </td>
                  <td class="phone-data">
                    {{#contactable}}
                      {{#phone}}
                        {{ phone }}
                        &nbsp;<a class="mobile-only-inline" href="tel:{{ phone.replace(/[^0-9]/g, '') }}" title="<%= __('callNumber') %>"><i class="fa fa-phone fa-lg"></i></a>
                        &nbsp;<a class="mobile-only-inline" href="sms:{{ phone.replace(/[^0-9]/g, '') }}?body=<%= __('textBody') %>" title="<%= __('textNumber') %>"><i class="fa fa-mobile fa-lg"></i></a>
                      {{/phone}}
                    {{/contactable}}
                  </td>
                  <td class="updated-data small text-muted">
                    {{#updatedM}}
                      <span>{{ updatedM.fromNow() }}</span>
                    {{/updatedM}}
                  </td>
                  {{^filteredSource}}
                    <td class="source-data small text-muted">{{ sourceName }}</td>
                  {{/filteredSource}}
                  <td>
                    <span class="clickable" on-tap="toggleCheck:{{ id }}">{{#inCheck}}<i class="fa fa-check-circle-o"></i>{{else}}<i class="fa fa-circle-o text-muted"></i>{{/inCheck}}</span>
                  </td>
                </tr>
              {{/()}}
            {{/data}}
          </tbody>
        </table>
      </div>
    </script>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
