<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body>
    <%- include('nav.inc.ejs') %>

    <div id="home-template-container" class="container"></div>

    <script id="home-template" type="text/ractive">
      {{^muted.welcome}}
        <div class="welcome clearfix jumbotron" intro-outro="slide">
          <button class="pull-right clickable btn btn-default btn-xs" on-tap="toggleAbsolute:{{ 'muted.welcome' }}"><i class="fa fa-close"></i></button>
          <p>Welcome to <strong>Landslide</strong>, your source for reporting on polls across the country.  Landslide aggregates <strong>unconfirmed tips</strong> from multiple sources into one single feed.</p>

          <p class="small">Use the filters below to find specific reports.  If you have access to Check, use the <strong>in Check</strong> action to let others know that that report is being handled there.  As there are plenty of reports that may be more noise than signal, use the <strong>Mute</strong> action to visually mute it; this is just for you and will persist if you reload the page.</p>

          <p class="small">Landslide depends on multiple data sources that vary in their structure.  Use the <strong>detail arrows</strong> on the left of each report to see more details, and in some case, to see the full information.</p>
        </div>
      {{/muted.welcome}}

      <div class="exports panel panel-default">
        <div class="panel-heading">
          <p class="pull-right">
            {{#totalStats.lastFetch}}
              <small class="text-muted"><%= __('dataAsOf') %> {{ totalStats.lastFetch.fromNow() }}.</small>
            {{/totalStats.lastFetch}}

            <span class="loading {{#isLoading}}is-loading{{/isLoading}}"><i class="fa fa-spinner fa-pulse"></i></span>
          </p>

          <h3 class="panel-title"><%= __('searchAndFilter') %></h3>
        </div>

        <div class="panel-body">
          <form class="filter-form">
            <fieldset class="form-group">
              <legend><%= __('location') %></legend>
              <p><%= __('locationHelp') %></p>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="query-state"><%= __('filterByState') %></label>

                    <select class="form-control" id="query-state" multiple="multiple">
                      {{#options.states:s}}
                        <option value="{{ this }}">{{ this }}</option>
                      {{/options.states}}
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div id="input-map"></div>
                  <p class="help-block">Use this map to select an area to filter on.  <button class="btn btn-default" on-tap="resetMapInput">Reset map</button></p>
                </div>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <legend><%= __('filtering') %></legend>
              <p><%= __('filteringHelp') %></p>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="query-source-name"><%= __('filterBySource') %></label>

                    <select class="form-control" id="query-source-name" multiple="multiple">
                      {{#options.sourceNames:s}}
                        <option value="{{ this }}">{{ this }}</option>
                      {{/options.sourceNames}}
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked="{{ query.waitMinutes }}"> Hide no wait times
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked="{{ query.report }}"> Hide blank reports
                    </label>
                    <p class="help-block">Do note that some messages from Mobile Commons do not come in correctly and need manual review in the details section.</p>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked="{{ query.inCheck }}"> Exclude reports in Check
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <legend><%= __('sortingAndMore') %></legend>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="sort-field"><%= __('sortField') %></label>

                    <select class="form-control" id="sort-field" value="{{ sort.field }}">
                      <option value="updated"><%= __('lastUpdated') %></option>
                      <option value="waitMinutes"><%= __('waitTime') %></option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="sort-direction"><%= __('direction') %></label>

                    <select class="form-control" id="sort-direction" value="{{ sort.direction }}">
                      <option value="1"><%= __('ascending') %></option>
                      <option value="-1"><%= __('descending') %></option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="limit"><%= __('limitResults') %></label>

                    <select class="form-control" id="limit" value="{{ limit }}">
                      <option value="100">100</option>
                      <option value="250">250</option>
                      <option value="500">500</option>
                      <option value="1000">1000</option>
                      <option value="2000">2000</option>
                      <option value="0">All</option>
                    </select>

                    <p class="help-block">Note that the more results, the longer the time it will take to get them.  Consider filtering and ordering if first.</p>
                  </div>
                </div>
              </div>
            </fieldset>

            <div>
              <button class="btn btn-primary" on-tap="resetSearch">Reset all</button>
            </div>
          </form>
        </div>
      </div>

      <div class="exports panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Stats</h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6 text-center">
              Average wait time<br>
              <span class="text-large">
                {{#stats.nonZeroWaitWaitAverage}}
                  <strong>{{ stats.nonZeroWaitWaitAverage }} min</strong>
                {{else}}
                  n/a
                {{/stats.nonZeroWaitWaitAverage}}
              </span> <br>
              <span class="text-muted">{{ totalStats.nonZeroWaitWaitAverage }} min for all reports</span>
            </div>

            <div class="col-sm-6 text-center">
              With reports<br>
              <span class="text-large"><strong>{{ stats.withReportTotalReports }}</strong> of {{ stats.totalReports }}</span> <br>
              <span class="text-muted">{{ totalStats.withReportTotalReports }} (of {{ totalStats.totalReports }}) for all reports</span>
            </div>
          </div>
        </div>
      </div>

      <div class="exports panel panel-default">
        <div class="panel-heading">
          <p class="pull-right">
            {{#totalStats.lastFetch}}
              <small class="text-muted"><%= __('dataAsOf') %> {{ totalStats.lastFetch.fromNow() }}.</small>
            {{/totalStats.lastFetch}}

            <span class="loading {{#isLoading}}is-loading{{/isLoading}}"><i class="fa fa-spinner fa-pulse"></i></span>
          </p>

          <h3 class="panel-title"><%= __('results') %></h3>
        </div>

        <div class="table-responsive">
          <table class="table report-list">
            <thead>
              <tr>
                <th></th>
                <th><%= __('report') %></th>
                <th><%= __('wait') %></th>
                <th><%= __('location') %></th>
                <th><%= __('updated') %></th>
                <th><%= __('source') %></th>
                <th><%= __('actions') %></th>
              </tr>
            </thead>

            <tbody>
              {{#data}}
                <tr class="overview-row {{#details[id]}}with-details{{/details[id]}} {{#muted[id]}}muted{{/muted[id]}}">
                  <td class="details-toggle">
                    <span on-tap="toggleAbsolute:{{ 'details.' + id }}" class="clickable">
                      {{#details[id]}}<i class="fa fa-angle-double-down"></i>{{else}}<i class="fa fa-angle-double-right"></i>{{/details[id]}}
                    </span>
                  </td>

                  <td class="report-data"><p>{{ report }}</p></td>

                  <td class="wait-data">
                    {{#waitMinutes}}
                      {{ waitMinutes > 60 ? (waitMinutes / 60).toFixed(2) + ' hr' : waitMinutes + ' min' }}
                    {{else}}
                      <span class="text-muted">{{ wait }}</span>
                    {{/waitMinutes}}
                  </td>

                  <td>
                    {{#pollSite.locationName}}
                      {{ pollSite.locationName }}<br>
                    {{/pollSite.locationName}}
                    {{ fullAddress }}
                  </td>

                  <td class="updated-data small text-muted">
                    {{#updatedM}}
                      <span>{{ updatedM.fromNow() }}</span>
                    {{/updatedM}}
                  </td>

                  <td class="source-data small text-muted">{{ sourceName }}</td>

                  <td class="actions">
                    <button class="btn btn-default btn-xs">
                      <span class="clickable" on-tap="toggleCheck:{{ id }}">
                        {{#inCheck}}<i class="fa fa-check-circle-o"></i>{{else}}<i class="fa fa-circle-o text-muted"></i>{{/inCheck}}
                        <span class="small"><%= __('inCheck') %></span>
                      </span>
                    </button>

                    <button class="btn btn-default btn-xs toggle-mute">
                      <span class="clickable" on-tap="toggleAbsolute:{{ 'muted.' + id }}">
                        {{#muted[id]}}
                          <i class="fa fa-volume-up"></i>
                          <span class="small"><%= __('unmute') %></span>
                        {{else}}
                          <i class="fa fa-volume-off text-muted"></i>
                          <span class="small"><%= __('mute') %></span>
                        {{/muted[id]}}
                      </span>
                    </button>
                  </td>
                </tr>

                {{#details[id]}}
                  <tr class="details-row {{#muted[id]}}muted{{/muted[id]}}">
                    <td></td>
                    <td colspan="20">
                      <div class="details" intro-outro="slide">
                        <div class="row">
                          <div class="col-xs-6">
                            <ul class="list-unstyled">
                              <li><strong><%= __('updated') %></strong> {{ updatedM.format('YYYY-MM-DD hh:mm a') }}</li>
                              <li><strong><%= __('contactable') %></strong> {{ contactable ? 'yes' : 'no' }}</li>
                              {{#contactable}}
                                {{#phone}}
                                  <li><strong><%= __('phone') %></strong>
                                    {{ phone }}
                                    &nbsp;<a class="mobile-only-inline" href="tel:{{ phone.replace(/[^0-9]/g, '') }}" title="<%= __('callNumber') %>"><i class="fa fa-phone fa-lg"></i></a>
                                    &nbsp;<a class="mobile-only-inline" href="sms:{{ phone.replace(/[^0-9]/g, '') }}?body=<%= __('textBody') %>" title="<%= __('textNumber') %>"><i class="fa fa-mobile fa-lg"></i></a>
                                  </li>
                                {{/phone}}
                              {{/contactable}}

                              {{#electionProtection.status}}
                                <li><strong>EP status</strong> {{ electionProtection.status }}</li>
                              {{/electionProtection.status}}

                              {{#(messages && messages.length)}}
                                <li><strong><%= __('allMessages') %></strong>
                                  {{#messages}}
                                    <br>- <code title="{{ moment.unix(timestamp).format() }}">{{ body }}</code>
                                  {{/messages}}
                                </li>
                              {{/()}}
                            </ul>
                          </div>

                          <div class="col-xs-6">
                            <ul class="list-unstyled">
                              {{#(fullAddress || (lat && lon))}}
                                <li><strong>Google map</strong><br>
                                <iframe width="100%" frameborder="0" style="border:0" height="300" src="https://www.google.com/maps/embed/v1/{{#fullAddress}}search{{else}}place{{/fullAddress}}?key=<%= config.GOOGLE_API_KEY %>&q={{ encodeURIComponent(fullAddress || lat + ',' + lon) }}"></iframe></li>
                              {{/())}}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                  <tr>
                {{/details[id]}}
              {{/data}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="exports panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= __('exports') %></h3>
        </div>

        <div class="panel-body">
          <button class="btn btn-primary" on-tap="exportCSV"><i class="fa fa-download"></i> <%= __('csvAllReports') %></button>
          <button class="btn btn-primary" on-tap="exportCSV:true"><i class="fa fa-download"></i> <%= __('csvFilteredReports') %></button>
        </div>
      </div>
    </script>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
