<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body>
    <%- include('nav.inc.ejs') %>

    <div id="home-template-container" class="container"></div>

    <script id="home-template" type="text/ractive">
      <form class="filter-form form-inline">
        <div class="form-group">
          <label for="filter-state"><%= __('filterByState') %></label>

          <select class="form-control" value="{{ filteredState }}" id="filter-state">
            <option selected disabled><%= __('choose') %></option>
            {{#states:s}}
              <option value="{{ this }}">{{ this }}</option>
            {{/states}}
          </select>
        </div>

        <div class="data-info">
          <p>
            {{#lastFetch}}
              <small class="text-muted"><%= __('dataAsOf') %> {{ lastFetch.fromNow() }}.</small>
            {{/lastFetch}}
            <span class="loading {{#isLoading}}is-loading{{/isLoading}}"><i class="fa fa-spinner fa-pulse"></i></span>
          </p>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= __('report') %></th>
              <th><%= __('wait') %></th>
              <th><%= __('city') %></th>
              <th><%= __('state') %></th>
              <th><%= __('zip') %></th>
              <th><%= __('phone') %></th>
              <th><%= __('updated') %></th>
            </tr>
          </thead>

          <tbody>
            {{#data}}
              {{#(!filteredState || (filteredState && filteredState === state))}}
                <tr>
                  <td>{{ ElectionReport.value }}</td>
                  <td>{{ ElectionWait.value }}</td>
                  <td>{{ city }}</td>
                  <td>{{ state }}</td>
                  <td>
                    {{#zip}}
                      <a target="_blank" rel="noopener" href="https://maps.google.com/maps?q={{ zip }}">{{ zip }}</a>
                    {{/zip}}
                  </td>
                  <td>{{#canContact}}{{ phone }}{{/canContact}}</td>
                  <td>
                    {{#updatedM}}
                      <span title="{{ ElectionReport.updated }}">{{ updatedM.fromNow() }}</span>
                    {{/updatedM}}
                  </td>
                </tr>
              {{/()}}
            {{/data}}
          </tbody>
        </table>
      </div>
    </script>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
